/* =================================================================================================================================
                                                            Home page  
====================================================================================================================================*/

*{

  margin: 0;
  padding: 0;
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
  box-sizing: border-box;
}
.header{
transition: ease-in-out 0.3s;
position: relative;
height: 95vh;
display: flex;
align-items: center;
width: 75%;
margin: 0 auto;
/* overflow-y: auto; */
justify-content: space-between;

}
.container{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.container h2{
  font-weight: 100;


}

.homepage-dark{
  background-color: #242424;
  color: white;
  height: 100vh;
}
.homepage-light{
  background-color: #dcd8d8;
  color: black;
  height: 100vh;
}
#profession{
  border-bottom: 2px solid #18d26e;
}

.guywithhoody{
  width: 31.25em;
  height:31.25em;
}
.guywithhoody img{
  height: 100%;
  width: 100%;
}
/* ==================================================================================================================================
                                                                 Navbar
===================================================================================================================================== */
.navlinks-dark,.navlinks1-dark, .navlinks1-light,.navlinks-light{
  display: flex;
  list-style: none;
  gap: 2em;
}
.navbar-light,.navbar-dark{
  margin-top: 1.3em;
}
.social-link-dark,.social-link-light{
  display: flex;
  gap: 1em;
  font-size: 30px;
  margin-top: 1em;
}

.social-link-light a{
  text-decoration: none;
  color: black;
  border-radius: 50%;
  transition: 0.3s transparent ;
}
.social-link-dark a{
  text-decoration: none;
  color: white;
  border-radius: 50%;
  transition: 0.3s transparent ;
}
.social-link a:hover{
  color: #18d26e;
}
.navlinks-dark a,.navlinks1-dark a{
  text-decoration: none;
  color: white;

}
.navlinks1-light a{
  text-decoration: none;
  color: black;
}
.navlinks-light a{
  text-decoration: none;
  color: black;

}
.navlinks-dark a:hover,.navlinks1-dark a:hover,.navlinks-light a:hover,.navlinks1-light a:hover{
  border-bottom: 2px solid #18d26e;
}
.active{
  border-bottom: 2px solid #18d26e;
}
.navbar-1-dark{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width:75%;
  margin: 0 auto;
  padding: 20px;
}
.navbar-1-light{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fef8f8;
  width:75%;
  margin: 0 auto;
  padding: 20px;
  /* color: black; */
}
.navbarall-dark{
  background-color: black;
  position: sticky;
  top: 0;
}
.navbarall-light{
  background-color: #fef8f8;
  position: sticky;
  top: 0;
}
.about{
  background-color:#242424;
  height: 100%;

  
}
.navlinks li{
  transition: ease-in-out 0.3s;
}

.logo-dark a{
  text-decoration: none;
  color: white;

}
.logo-light a{
  text-decoration: none;
  color: black;

}
/*================================================================================================================================
                                                                About section
================================================================================================================================== */
.about-dark{
  background-color: #242424;
  color: white;
}
.about-light{
  background-color: #dcd8d8;
  color: black;
}
.aboutme-dark{
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: black;
  padding: 10px 20px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.aboutme-light{
  background-color: #fef8f8;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  /* background-color: black; */
  padding: 10px 20px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
#line{
  width:40%;
  /* text-align:left; */
  /* margin-left:0; */
  color: #18d26e;
}
.image img{
  width: 100%;
}
.aboutme-header{
  display: flex;
  gap: 4em;
  /* font-size: 30px; */
 
  /* align-items: center; */
}
.info{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}
.aboutme-section h1{
  color: #18d26e;
  margin-bottom: 1.3em;
}
.bold{
  font-weight: bolder;
}
.aboutme-section{
  display: flex;
  flex-direction: column;
  gap: 1.9em;
  /* margin-right: -470px; */
  /* font-size: 1; */
  /* margin-left: -470px; */
  
}
.image{
  width: 100%;
}
.info-1,.info-2{
  display: flex;
  flex-direction: column;
  gap: 2em;
}


.skills-header h1{
  border-bottom: 2px solid #18d26e;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #18d26e;
}

.skills{
  display: flex;
 

}
.skills-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-1{
  display: flex;
  flex-direction: column;
  width: 47%;
}
.skills-2{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section-title{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.section-title h1{
  border-bottom: 2px solid #18d26e;
}


/*================================================================================================================================
                                                          Resume section
 ================================================================================================================================= */

.resume{
  height: 100vh;
}
.resume object{
  width: 100%;
  height: 100vh;
}


/*================================================================================================================================
                                                          Project section
 ================================================================================================================================= */
.project-section-light{
  height: 100%;
  width: 75%;
  margin: 0 auto;
  background-color:#fef8f8;
  margin-top: 35px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.project-section-dark{
  height: 100%;
  width: 75%;
  margin: 0 auto;
  background-color:black;
  margin-top: 35px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.project-light{
  background-color: #dcd8d8;
  /* color: white; */
}
.project-dark{
  background-color: #242424;
  color: white;
}
.project-card-container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.card-light{
  background-color: #e9e8e8;
  width: 40%;
  height: auto;
  padding: 10px 20px ;
  display: flex;
  flex-direction: column;
  gap: 3.2em;
  /* box-shadow:  10px 10px 5px #aaaaaa; */
  border-radius: 10px;
  /* transition: all .4s cubic-bezier(.175,.885,0,1); */
  box-shadow: 0px 13px 10px -7px #474646;

}
.card-dark{
  background-color: #302e2e;
  width: 40%;
  height: auto;
  padding: 10px 20px ;
  display: flex;
  flex-direction: column;
  gap: 3.2em;
  /* box-shadow:  10px 10px 5px #aaaaaa; */
  border-radius: 10px;
  /* transition: all .4s cubic-bezier(.175,.885,0,1); */
  box-shadow: 0px 13px 10px -7px #474646;
}
.card-title h2{
  color: #18d26e;
}
.links{
  display: flex;
  justify-content: space-between;
}
.links a{
  text-decoration: none;
  color: #18d26e;
  font-size: 20px;
}

/* width: 310px;
height: 460px;
margin: 1.5rem;

position: relative;
border-radius: 12px;
overflow: hidden;
border: none;

transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
box-shadow: 0px 13px 10px -7px #242424; */
/*================================================================================================================================
                                                          Responsiveness 
================================================================================================================================= */
                                                          
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
                                                          
                                                          
 }
.bar-dark{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.bar-light{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
@media only screen and (max-width:360px) {
  .navlinks-mobile-menu-light{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    padding: 10px 20px;
    list-style: none;
    background-color: #e9e8e8;

  }
  .navlinks-mobile-menu-dark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    padding: 10px 20px;
    list-style: none;

  }
  .navlinks-mobile-menu-dark a{
    text-decoration: none;
    color: white;
  
  }
  .navlinks-mobile-menu-light a{
    text-decoration: none;
    color: black;
  }
  .navlinks-mobile-menu-dark a:hover,.navlinks-mobile-menu-light a:hover{
    border-bottom: 2px solid #18d26e;
  }
  .active{
    border-bottom: 2px solid #18d26e;
  }
  .navbar-1-light{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width:75%;
    margin: 0 auto;
    padding: 20px;
  }
  .navbarall-light{
    background-color: black;
    position: sticky;
    top: 0;
  }
  .navlinks-light{
    display: none;
  }
  .navlinks-dark{
    display: none;
  }
  
  .toggle-button{
    display:flex ;
  }
  .navlinks{
    /* display: none; */
    width: 100%;
  }
  .header{
    width: 95%;
    /* display: flex; */
  }
  .toggle-button1{
    display:flex ;
    
  }

}
@media only screen and (max-width:884px){
  .navlinks1-light{
    display: none;
  }
  .navlinks1-dark{
    display: none;
  }
  .toggle-button{
    position: absolute;
    top: .75rem;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
                                                            
                                                            
   }
  .bar-dark{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  .bar-light{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  .navlinks-mobile-menu1-light{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    padding: 10px 20px;
    list-style: none;

  }
  .navlinks-mobile-menu1-light a{
    text-decoration: none;
    color: black;
  
  }
  .navlinks-mobile-menu1-light a:hover{
    border-bottom: 2px solid #18d26e;
  }
  
  .header{
    transition: ease-in-out 0.3s;
    position: relative;
    height: 95vh;
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    /* overflow-y: auto; */
    justify-content: space-evenly;
    flex-direction: column-reverse;
    
    }


  .navlinks-mobile-menu1-dark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    padding: 10px 20px;
    list-style: none;

  }
  .navlinks-mobile-menu1-dark a{
    text-decoration: none;
    color: white;
  
  }
  .navlinks-mobile-menu1-dark a:hover{
    border-bottom: 2px solid #18d26e;
  }
  .active{
    border-bottom: 2px solid #18d26e;
  }
  .aboutme-header{
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width:532px){
  .info{
    display: flex;
    flex-direction: column;
    gap: 2.2em;
  }
}
@media only screen and (max-width:1458px){
  .aboutme-header{
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width:655px){

  .links{
    display: flex;
   flex-direction: column;
   gap: 1em;
  }
}
@media only screen and (max-width:1000px){
  .card-light{
    width: 100%;
  }
  .card-dark{
    width: 100%;
  }
}
@media only screen and (max-width:354px){
  .navbar-dark{
    position: absolute;
    top: -20px;
    background-color: black;
    width: 100%;
    /* padding: 10px 20px; */
    height: 100;
    /* display: none; */
  }
  .navbar-light{
    position: absolute;
    top: -20px;
    background-color: black;
    width: 100%;
    /* padding: 10px 20px; */
    height: 100;
  }
  .bar1-dark{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  .bar1-light{
    height: 3px;
    width: 100%;
    background-color:black;
    border-radius: 10px;
  }
  .toggle-button1{
    position: absolute;
    top: .75rem;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
                                                            
                                                            
   }
}
@media only screen and (max-width:500px){
  .guywithhoody{
    width: 25em;
    height: 25em;
  }
}
@media only screen and (max-width:400px){
  .guywithhoody{
    width: 20em;
    height: 20em;
  }
}
@media only screen and (max-width:318px){
  .guywithhoody{
    width: 15em;
    height: 15em;
  }
}
@media only screen and (max-width:238px){
  .logo-img{
    display: none;
  }
}
/*================================================================================================================================
                                                          Footer section
================================================================================================================================= */

.footer-section{
  display: flex;
  justify-content: center;
}


.skill-image{
  display: flex;
  /* flex-direction: column; */
  gap: 2em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skill-image-row-1,.skill-image-row-2,.skill-image-row-3{
  display: flex;
  flex-wrap: wrap;
  gap: 2em ;

}
.skill-img-card{
  width: 10em;
  height: 10em;
  background-color: white;
  padding: 1px;
}
.skill-img-card img{
  width: 100%;
  height: 100%;
}
.theme-setting{
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 2em;
  background-color: #18d26e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}